<!DOCTYPE html>
<html>
<head>
<title>Pocket Bulk URL Adder</title>
<link href="static/contact.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<section id="contact">
		<header>
			<h1>Pocket Bulk URL Adder</h1>
		<p>Enter one link per line!</p>
		</header>
		<mark id="message"></mark>
		<form method="post" action="submit" name="contactform" id="contactform" autocomplete="on" enctype="multipart/form-data">
			<fieldset>
									<div>
                                        <label for="address" accesskey="A">Address</label>
                                        <textarea name="Staff_Address" cols="40" rows="3" id="Staff_Address" placeholder="Address" ></textarea>
                                </div>
			<input type="submit" class="submit" id="submit" value="Submit" />
		</form>
	</section>
</body>
</html>
